@require 'rupture' // nice media-queries framework

@require './includes/vendor/*' // Сетка
@require './includes/grid' // Сетка
@require './includes/fonts' // Шрифты
@require './includes/utils' // доп-инструментарий

// Блоки
@require './includes/blocks/header' // Шапка
@require './includes/blocks/footer' // Подвал

// Страницы
@require './includes/pages/index' // Главная



